<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <test verbose="2" preserve-order="true" name="C:/Users/Qapitol/IdeaProjects/1">
       <parameter name="browser" value="Edge"></parameter>
        <classes>
            <class name="com.selenium.Grid.seleniumGrid">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="C:/Users/Qapitol/IdeaProjects/test2">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="com.selenium.Grid.seleniumGrid">
            </class>
        </classes>
    </test>
</suite>